<div >
    <div class="gallery">
        <div class="gallery_col-1">
            <img src="images/raw/1.jpg" alt="">
            <div class="gallery_overlay">
                <div class="gallery_caption">
                    <p><em>Lorem Blandit</em></p>
                    <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                </div>
            </div>
            <img src="images/raw/2.jpg" alt="">
            <div class="gallery_overlay">
                <div class="gallery_caption">
                    <p><em>Lorem Blandit</em></p>
                    <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                </div>
            </div>
            <img src="images/raw/3.jpg" alt="">
            <div class="gallery_overlay">
                <div class="gallery_caption">
                    <p><em>Lorem Blandit</em></p>
                    <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                </div>
            </div>
        </div>
        <div class="gallery_col-2">
            <img src="images/raw/4.jpg" alt="">
            <div class="gallery_overlay">
                <div class="gallery_caption">
                    <p><em>Lorem Blandit</em></p>
                    <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                </div>
            </div>
            <img src="images/raw/5.png" alt="">
            <div class="gallery_overlay">
                <div class="gallery_caption">
                    <p><em>Lorem Blandit</em></p>
                    <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                </div>
            </div>
            <img src="images/raw/6.jpg" alt="">
            <div class="gallery_overlay">
                <div class="gallery_caption">
                    <p><em>Lorem Blandit</em></p>
                    <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                </div>
            </div>
        </div>
        <div class="gallery_col-3">
            <img src="images/raw/7.jpg" alt="">
            <div class="gallery_overlay">
                <div class="gallery_caption">
                    <p><em>Lorem Blandit</em></p>
                    <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                </div>
            </div>
            <img src="images/raw/8.jpg" alt="">
            <div class="gallery_overlay">
                <div class="gallery_caption">
                    <p><em>Lorem Blandit</em></p>
                    <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                </div>
            </div>
            <img src="images/raw/9.jpg" alt="">
            <div class="gallery_overlay">
                <div class="gallery_caption">
                    <p><em>Lorem Blandit</em></p>
                    <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                </div>
            </div>
        </div>
    </div>
</div>
