<div class="page">

    <div class="">
        <h1 class="brand_name">
            <a href="./">Elan Curry</a>
        </h1>
    </div>

        <div class="">
            <img alt="banner" class="fullimage" src="images/slide01.jpg" />
        </div>


    <section class="parallax parallax1" data-parallax-speed="1">
        <div class="container">
            <h2>Never Compromise on Quality <br> Experience the taste</h2>
            <p class="indents-2">Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl auctor vel veliterol. sed,pharetra venenatis nulla. Vestibulum volutpat turpis ut massa commodo, quis aliquam massa facilisis.Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl auctor vel veliterol. sed,pharetra venenatis nulla. Vestibulum volutpat turpis ut massa commodo, quis aliquam massa facilisis. Vestibulum volutpat turpis ut massa commodo, quis aliquam massa facilisis.Integer convallis orci </p>
            <a href="/menu" class="btn">View full menu</a>
        </div>
    </section>

    <div class="container">
    <div class="gallery">
        <div class="gallery_col-1">
                <img src="images/page-1_img03.jpg" alt="">
                <div class="gallery_overlay">
                    <div class="gallery_caption">
                        <p><em>Lorem Blandit</em></p>
                        <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                    </div>
                </div>
                <img src="images/page-1_img04.jpg" alt="">
                <div class="gallery_overlay">
                    <div class="gallery_caption">
                        <p><em>Lorem Blandit</em></p>
                        <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                    </div>
                </div>
                <img src="images/page-1_img05.jpg" alt="">
                <div class="gallery_overlay">
                    <div class="gallery_caption">
                        <p><em>Lorem Blandit</em></p>
                        <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                    </div>
                </div>
        </div>
        <div class="gallery_col-2">
                <img src="images/page-1_img06.jpg" alt="">
                <div class="gallery_overlay">
                    <div class="gallery_caption">
                        <p><em>Lorem Blandit</em></p>
                        <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                    </div>
                </div>
                <img src="images/page-1_img07.jpg" alt="">
                <div class="gallery_overlay">
                    <div class="gallery_caption">
                        <p><em>Lorem Blandit</em></p>
                        <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                    </div>
                </div>
                <img src="images/page-1_img08.png" alt="">
                <div class="gallery_overlay">
                    <div class="gallery_caption">
                        <p><em>Lorem Blandit</em></p>
                        <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                    </div>
                </div>
        </div>
        <div class="gallery_col-3">
                <img src="images/page-1_img09.jpg" alt="">
                <div class="gallery_overlay">
                    <div class="gallery_caption">
                        <p><em>Lorem Blandit</em></p>
                        <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                    </div>
                </div>
                <img src="images/page-1_img10.jpg" alt="">
                <div class="gallery_overlay">
                    <div class="gallery_caption">
                        <p><em>Lorem Blandit</em></p>
                        <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                    </div>
                </div>
                <img src="images/page-1_img11.jpg" alt="">
                <div class="gallery_overlay">
                    <div class="gallery_caption">
                        <p><em>Lorem Blandit</em></p>
                        <p>Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl</p>
                    </div>
                </div>
        </div>
        </div>
    </div>

    <section class="parallax parallax1" data-parallax-speed="-0.4">
        <div class="container">
            <h2>Eat Healthy <br> Live Healthy</h2>
            <p class="indents-2">Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl auctor vel veliterol. sed,pharetra venenatis nulla. Vestibulum volutpat turpis ut massa commodo, quis aliquam massa facilisis.Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl auctor vel veliterol. sed,pharetra venenatis nulla. Vestibulum volutpat turpis ut massa commodo, quis aliquam massa facilisis. Vestibulum volutpat turpis ut massa commodo, quis aliquam massa facilisis.Integer convallis orci </p>
        </div>
    </section>

</div>