<div class="container">
<div class="row" style="margin-top: 60px">
    <h1 class="largefont frontcolor bold" style="text-align: center">Our Menu</h1>
    <br>
    <h3 class="mediumfont bold frontlight">Mutton<hr></h3>
</div>
<div class="outer">
    <ul class="inner">
        <li class="box">
            <img src="images/1.jpg" />
            <h3 class="imgtitle">Mutton Fillets<span class="pull-right">.... &#8377;150</span></h3>
            <p>250 Grams (2 pieces)</p>
        </li>

        <li class="box">
            <img src="images/2.jpg" />
            <h3 class="imgtitle">Mutton Chopped<span class="pull-right">.... &#8377;500</span></h3>
            <p>1KG - Medium chopped pieces with bone</p>
        </li>

        <li class="box">
            <img src="images/5.jpeg" />
            <h3 class="imgtitle">Mutton Chopped<span class="pull-right">.... &#8377;700</span></h3>
            <p>1KG - Medium chopped pieces boneless</p>
        </li>

        <li class="box">
            <img src="images/3.jpeg" />
            <h3 class="imgtitle">Mutton breast<span class="pull-right">.... &#8377;350</span></h3>
            <p>500 Grams - Best for barbeque (2 large pieces)</p>
        </li>

        <li class="box">
            <img src="images/4.jpg" />
            <h3 class="imgtitle">Mutton Legs<span class="pull-right">.... &#8377;   600</span></h3>
            <p> 750 Grams - Medium size legs (4 pieces) </p>
        </li>

        <li class="box">
            <img src="images/1.jpg" />
            <h3 class="imgtitle">Mutton Liver<span class="pull-right">.... &#8377;150</span></h3>
            <p>250 Grams (2 pieces)</p>
        </li>

        <li class="box">
            <img src="images/2.jpg" />
            <h3 class="imgtitle">Goat Head<span class="pull-right">.... &#8377;450</span></h3>
            <p>500 - 750 Grams (1 piece)</p>
        </li>
    </ul>
</div>

</div>