<div class="container" style="margin-top: 60px;">
    <div class="fullwidth">
        <h1 class="frontcolor largefont bold">Your Profile</h1>
        <br>
        <br>
        <div class="fullwidth margin10">
            <label class="bold frontcolor">Name </label>
            <input type="text" class="form-control" style="width:500px;" placeholder="John Smith" />
        </div>
        <br>
        <div class="fullwidth margin10">
            <label class="bold frontcolor">Phone </label>
            <input type="text" class="form-control" style="width:500px;" placeholder="9876543210" />
        </div>
        <br>
        <div class="fullwidth margin10">
            <label class="bold frontcolor">Email address </label>
            <input type="text" class="form-control" style="width:500px;" placeholder="example@gmail.com" />
        </div>
        <br>
        <div class="fullwidth margin10">
            <label class="bold frontcolor">Address </label>
            <textarea class="form-control" style="width:500px;" placeholder="#123, main street, city, state."></textarea>
        </div>
        <br>
        <div class="fullwidth margin10">
           <input type="submit" value="Save" class="addtocart" style="padding: 10px;width:100px;font-size: 16px;">
        </div>
        <br>
        <br>
        <hr style="border-top: 1px solid #4CAF50">
        <br>
        <br>
        <h1 class="frontcolor largefont bold">Change Password</h1>
        <br>
        <br>
        <div class="fullwidth margin10">
            <label class="bold frontcolor">Old Password </label>
            <input type="text" class="form-control" style="width:500px;" placeholder="*******" />
        </div>
        <br>
        <div class="fullwidth margin10">
            <label class="bold frontcolor">New Password </label>
            <input type="text" class="form-control" style="width:500px;" placeholder="*******" />
        </div>
        <br>
        <div class="fullwidth margin10">
            <label class="bold frontcolor">Confirm Password </label>
            <input type="text" class="form-control" style="width:500px;" placeholder="*******" />
        </div>
        <br>
        <div class="fullwidth margin10">
            <input type="submit" value="Change" class="addtocart" style="padding: 10px;width:100px;font-size: 16px;">
        </div>
        <br>
        <br>
        <br>
    </div>
</div>