<div class="container" style="margin-top: 60px;">
    <img src="images/whistle.png" style="text-align: center">
    <div class="inline fullwidth">
        <div style="width:30%;" >
        </div>
        <div style="width: 70%;text-align: right;">
            <h1 class="frontcolor bold largefont">Order Summary</h1>
            <br>
            <h1 class="frontcolor bold">Invoice No: ECA10E23N</h1>
        </div>
    </div>
    <div class="fullwidth">
        <h1 class="frontcolor bold largefont">Order Information</h1>
        <br>
        <table class="border" style="width:100%">
            <thead>
            <tr>
                <td>Item name & Description</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Remove</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in cart.items | orderBy:'name'">
                <td>{{item.name}}{{item.description}}</td>
                <td> <div ng-model="item.quantity" ng-change="cart.saveItems()">
                        <button class="btn btn-success" ng-disabled="item.quantity >= 1000" ng-click="cart.addItem(item.sku, item.name, item.price, +1)"/>+</button>
                    <input type="text" ng-model="item.quantity" ng-change="cart.saveItems()"/>
                        <button class="btn btn-success" ng-disabled="item.quantity <= 1" ng-click="cart.addItem(item.sku, item.name, item.price, -1)">-</button>
                </div>
                </td>
                <td>&#8377;{{item.price * item.quantity}}</td>
                    <td>
               <div class="tdCenter" title="remove from cart">
                   <a href="" ng-click="cart.addItem(item.sku, item.name, item.price, -10000000)">Remove</a>
                   </div>
            </td>
   <tr>

            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>Estimated Total:</td>
                <td>&#8377;{{cart.getTotalPrice()}}</td>
            </tr>
            </tfoot>
        </table>
        <br>
        <br>
        <h1 class="frontcolor bold largefont">Your Details</h1>
        <br>
        <div class="inline fullwidth margin10">
            <div class="bold frontcolor width100">Name - </div>
            <div class="bold">Prasanth J</div>
        </div>
        <div class="inline fullwidth margin10">
            <div class="bold frontcolor width100">Phone - </div>
            <div class="bold">+91-8754975497</div>
        </div>
        <div class="inline fullwidth margin10">
            <div class="bold frontcolor width100">Email - </div>
            <div class="bold">prasanthj@outlook.com</div>
        </div>
        <div class="inline fullwidth margin10">
            <div class="bold frontcolor width100">Delivery Address - </div>
            <div class="bold">#123, Main Street, Sai baba colony, <br> Coimbatore - 641025</div>
        </div>
        <p>**Change your information in profile</p>
        <br>
        <br>
        <br>
        <h1 class="frontcolor bold largefont">Payment Mode</h1>
        <br>
        <p>The estimated total is the amount you need to pay..</p>
        <br>
        <div class="fullwidth">
            <input type="checkbox" value="cod">
            <label class="frontcolor">Cash on Delivery</label>
        </div>
        <br>
        <p>For now we are available only for cash on delivery</p>
        <br>
        <br>
        <input type="button" style="font-weight:600;padding: 10px;" onclick="conformOrder()" value="Confirm Your Order" class="addtocart pull-right" />
        <br>
        <br>
        <br>
    </div>
</div>
<!--<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">

            <!-- items -->
            <!--<table class="table table-bordered">

                <!-- header -->
               <!-- <tr class="well">
                    <td><b>Item</b></td>
                    <td class="tdCenter"><b>Quantity</b></td>
                    <td class="tdRight"><b>Price</b></td>
                    <td />
                </tr>

                <!-- empty cart message -->
                <!--<tr ng-hide="cart.getTotalCount() > 0" >
                    <td class="tdCenter" colspan="4">
                        Your cart is empty.
                    </td>
                </tr>

                <!-- cart items -->
                <!--<tr ng-repeat="item in cart.items | orderBy:'name'">
                    <td>{{item.name}}</td>
                    <td class="tdCenter">
                      <div class="input-append">
                        <!-- use type=tel instead of  to prevent spinners -->
                       <!-- <input
                            class="span3 text-center" type="tel" 
                            ng-model="item.quantity" 
                            ng-change="cart.saveItems()" />
                        <button 
                            class="btn btn-success" type="button" 
                            ng-disabled="item.quantity >= 1000"
                            ng-click="cart.addItem(item.sku, item.name, item.price, +1)">+</button>
                        <button 
                            class="btn btn-inverse" type="button" 
                            ng-disabled="item.quantity <= 1"
                            ng-click="cart.addItem(item.sku, item.name, item.price, -1)">-</button>
                      </div>
                    </td>
                    <td class="tdRight">{{item.price * item.quantity | currency}}</td>
                    <td class="tdCenter" title="remove from cart">
                        <a href="" ng-click="cart.addItem(item.sku, item.name, item.price, -10000000)" >
                            <i class="icon-remove" />
                        </a>
                    </td>
                </tr>

                <!-- footer -->
                <!--<tr class="well">
                    <td><b>Total</b></td>
                    <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                    <td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
                    <td />
                </tr>
            </table>
        </div>

        <!-- buttons -->
        <!--<div class="span4">
            <p class="text-info">
                <button 
                    class="btn btn-block" 
                    onclick="window.location.href='default.htm'">
                    <i class="icon-chevron-left" /> back to store
                </button>
                <button 
                    class="btn btn-block btn-danger" 
                    ng-click="cart.clearItems()" 
                    ng-disabled="cart.getTotalCount() < 1" >
                    <i class="icon-trash icon-white" /> clear cart
                </button>
            </p>

            <br /><br />

            <p class="text-info">
                <button
                    class="btn btn-block btn-primary"
                    ng-click="cart.checkout('PayPal')"
                    ng-disabled="cart.getTotalCount() < 1">
                    <i class="icon-ok icon-white" /> check out using PayPal
                </button>
                <button 
                    class="btn btn-block btn-primary" 
                    ng-click="cart.checkout('Google')" 
                    ng-disabled="cart.getTotalCount() < 1">
                    <i class="icon-ok icon-white" /> check out using Google
                </button>
            </p>

            <br /><br />

            <p class="text-info">
                <button 
                    class="btn btn-block btn-link"
                    ng-click="cart.checkout('PayPal')"
                    ng-disabled="cart.getTotalCount() < 1" >
                    <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" alt="checkout PayPal"/>
                </button>    
                <button 
                    class="btn btn-block btn-link" 
                    ng-click="cart.checkout('Google')" 
                    ng-disabled="cart.getTotalCount() < 1" >
                    <img src="https://checkout.google.com/buttons/checkout.gif?w=168&h=44&style=white&variant=text" alt="checkoutGoogle"/>
                </button>    
            </p>
        </div>
    </div>
</div>
